@import './utils/variables.scss';

.App {
  text-align: center;
}

.header {
  margin-top: 5vh;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
}

.navlink {
  margin-left: 1vh;
  margin-right: 1vh;
  width: 5em;
  border: none;
  color: black;
  border: 2px solid $colour_navlink_border;
  border-radius: 10%;
  background-color: $colour_navlink_bg;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 4px;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $colour_navlink_hover;
  }
}
