$colour_background: #222222;
$colour_tile_covered: #666666;
$colour_tile_uncovered: #f5f5f5;
$colour_tile_clear: $colour_tile_uncovered;

// Game Option Buttons
$colour_game_option: #face70;
$colour_game_option_hover: #c7af7b;
$colour_game_option_active: $colour_game_option_hover;

// Navlink buttons
$colour_navlink_bg: white;
$colour_navlink_border: #e7e7e7;
$colour_navlink_hover: #e7e7e7;